{% extends "base.html" %}

{% block code %}
<div class="container">
<div class="row mb-2">
	<div class="col-md-6">
	{% for wish in wishes %}
  <div class="card flex-md-row mb-4 box-shadow h-md-250" style="width: 18rem;">
		<h3 class="card-title w-100">
<a href="{% url 'wish-delete' wish.id %}" class="btn" style="background-color: #FFA500; color: #000034;">x</a>
 </h3>
		{% if wish.img %}
  <img src="{{wish.img.url}}" class="card-img-top" alt="Wish!">
		{% endif %}

    <div class="card-body">
      <h5 class="card-title">{{wish.name}}</h5>
  <!--    <p class="card-text">{{wish.url}}</p -->
	{% if wish.url %}
		<a href="{{wish.url}}" class="btn btn-primary" target="_blank">Wish Link</a>
	{% else %}
	<p class="lead"> No URL included for this wish. </p>
	<div class="form-check">
<input type="checkbox" class="form-check-input" id="{{ wish.title }}" name="check" value="" checked="{{ wish.completed }}">
	 <label class="form-check-label" for="exampleCheck1">Is Purchased</label>
 </div>
	{% endif %}
    </div>
  </div>
	{% endfor %}
</div>
</div>
</div>
{% endblock %}
